{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="sidenav">
        <div class="logo">m.u.</div>
        <div class="searchbar">
            <input class="search" id="searchInput">
            <button class="sbtn" onclick="searchProduct()"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        <div class="spacer"></div>
        <button class="mbtn" id="inventoryBtn"><i class="fa fa-list icon" aria-hidden="true"></i> Inventario</button>
        <button class="mbtn" id="addProductBtn"><i class="fa fa-shopping-cart icon" aria-hidden="true" ></i> Agregar</button>
        <button class="mbtn" id="accountBtn"><i class="fa fa-user icon" aria-hidden="true"></i> Cuenta</button>
        <button class="mbtn" id="summaryBtn"><i class="fa fa-bolt icon" aria-hidden="true"></i> Resumen</button>
        <button class="mbtn" id="optionFiveBtn"><i class="fa fa-calendar icon" aria-hidden="true"></i> Option Five</button>
    </div>
    
    <div class="content-area">
        <div class="mobilebar">
            <div class="logo sml">iX</div>
            <div class="mbh">
                <button class="mnubtn" onclick="slideMenu()"><i class="fa fa-bars" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="page-title">Inventario</div>
        
        <div id="addProductFormContainer" class="form-container">
            <form id="addProductForm" method="post" enctype="multipart/form-data" action="{% url 'add_product' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <label for="{{ form.name.id_for_label }}" class="custom-form-label">Nombre</label>
                        {{ form.name }}
                    </div>
                    <div class="col-md-6">
                        <label for="{{ form.price.id_for_label }}" class="custom-form-label">Precio</label>
                        {{ form.price }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="{{ form.stock.id_for_label }}" class="custom-form-label">Stock</label>
                        {{ form.stock }}
                    </div>
                    <div class="col-md-6">
                        <label for="{{ form.image.id_for_label }}" class="custom-form-label">Imagen</label>
                        {{ form.image }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="{{ form.description.id_for_label }}" class="custom-form-label">Descripción</label>
                        {{ form.description }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Agregar Producto</button>
            </form>
        </div>
        
        
        
        
        <div id="productList" class="search-results" style="display:none;">
            {% for product in products %}
            <div class="content-bar">
                <div class="itemnum">#{{ product.id }}</div>
                <div class="itemtitle">{{ product.name }}</div>
                <div class="itemprice">{{ product.price|currency }} clp</div>
                <div class="itemstock">{{ product.stock }} en Stock</div>
                {% if product.stock == 0 %}
                    <div class="low-stock">No hay stock</div>
                {% elif product.stock < 5 %}
                    <div class="low-stock">Stock Bajo</div>
                {% endif %}

                <div class="btncontainer">
                    <button class="cbbtn" onclick="editProduct()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button type="button" class="cbbtn" onclick="confirmDelete('{{ product.id }}')"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    <form id="deleteForm{{ product.id }}" method="post" action="{% url 'delete_product' product.id %}" style="display:none;">
                        {% csrf_token %}
                    </form>
                </div>
                            </div>
            {% endfor %}
            
            {% if not products %}
            <div class="text-center">
                No hay productos.
            </div>
            {% endif %}
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    <script src="{% static 'js/product_list.js' %}"></script>
</body>
</html>
